In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 31 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 54.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=9dabfeb8996d3afc61bf59e76474b5fc11b47456f4bbdfafddbb886d3b64c818
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
# https://www.dropbox.com/s/cjztq44o5k7imwu/transactions_amostra.csv?dl=1

import pyspark
import pyspark.sql.functions
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local[*]').appName('Scholze').getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True)

In [ ]:
df = spark.read.csv("/content/drive/MyDrive/BIGDATA/transactions_amostra.csv", header=True, inferSchema=True,  sep=";")
df

+--------------------+----+---------+--------------------+---------+---------+------------+-------------------+------------+--------------------+
|     country_or_area|year|comm_code|           commodity|     flow|trade_usd|   weight_kg|      quantity_name|    quantity|            category|
+--------------------+----+---------+--------------------+---------+---------+------------+-------------------+------------+--------------------+
|             Belgium|2016|   920510|Brass-wind instru...|   Export|   571297|      3966.0|    Number of items|      4135.0|92_musical_instru...|
|           Guatemala|2008|   660200|Walking-sticks, s...|   Export|    35022|      5575.0|    Number of items|     10089.0|66_umbrellas_walk...|
|            Barbados|2006|   220210|Beverage waters, ...|Re-Export|    81058|     44458.0|   Volume in litres|     24113.0|22_beverages_spir...|
|             Tunisia|2016|   780411|Lead foil of a th...|   Import|     4658|       121.0|Weight in kilograms|       121.0|78_lead_and_artic...|
|           Lithuania|1996|   560110|Sanitary towels, ...|   Export|    76499|      5419.0|Weight in kilograms|      5419.0|56_wadding_felt_n...|
|             Denmark|2011|   310100|Animal or vegetab...|   Export|  4903675|  1.902844E7|Weight in kilograms|  1.902844E7|      31_fertilizers|
|            Thailand|1994|   920290|String musical in...|   Import|  2088672|         0.0|    Number of items|     59595.0|92_musical_instru...|
|            Portugal|2004|   511119|Woven fabric, >85...|   Export|  1546575|     87367.0|Weight in kilograms|     87367.0|51_wool_animal_ha...|
|               Congo|2011|   420690|Articles of gut, ...|   Export|      883|         9.0|Weight in kilograms|         9.0|42_articles_of_le...|
| Antigua and Barbuda|2016|   620332|Mens, boys jacket...|   Export|    12988|      1403.0|    Number of items|       648.0|62_articles_of_ap...|
|            Pakistan|2016|   920999|Parts and accesso...|   Export|   359131|     66284.0|Weight in kilograms|     66284.0|92_musical_instru...|
|             Albania|2013|   610322|Mens, boys ensemb...|   Import|   180103|     13031.0|    Number of items|     25763.0|61_articles_of_ap...|
|          Azerbaijan|1998|   721119|Hot rolled iron o...|   Import|     6239|     64941.0|Weight in kilograms|     64941.0|   72_iron_and_steel|
| Antigua and Barbuda|2009|   511120|Woven fabric, car...|   Import|     1482|        30.0|Weight in kilograms|        30.0|51_wool_animal_ha...|
|             Namibia|2003|    50900|Sponges, natural,...|   Export|     6349|      6750.0|Weight in kilograms|      6750.0|05_products_of_an...|
|             Germany|1991|   950330|Construction sets...|   Export| 29924000|   2649521.0|Weight in kilograms|   2649521.0|95_toys_games_spo...|
|Central African Rep.|2008|   220290|Non-alcoholic bev...|   Import|    32470|     30725.0|   Volume in litres|     30725.0|22_beverages_spir...|
|             Algeria|2010|    80300|Bananas, includin...|   Import|105558708|2.07859307E8|Weight in kilograms|2.07859307E8|08_edible_fruit_n...|
|              France|2009|    71230|Mushrooms and tru...|Re-Import|   219297|      7400.0|Weight in kilograms|      7400.0|07_edible_vegetab...|
|             Albania|2003|    71220|Onions, dried, no...|   Import|    13674|     30314.0|Weight in kilograms|     30314.0|07_edible_vegetab...|
+--------------------+----+---------+--------------------+---------+---------+------------+-------------------+------------+--------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import col, avg

In [ ]:
df.printSchema()

root
 |-- country_or_area: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- comm_code: string (nullable = true)
 |-- commodity: string (nullable = true)
 |-- flow: string (nullable = true)
 |-- trade_usd: long (nullable = true)
 |-- weight_kg: double (nullable = true)
 |-- quantity_name: string (nullable = true)
 |-- quantity: double (nullable = true)
 |-- category: string (nullable = true)

In [ ]:
#Question 1
brazil = df.filter(col("country_or_area").like("Brazil")).count()
brazil

54762

In [ ]:
#Question 2
years = df.select("year").groupBy("year").count()
years

In [ ]:
#Question 3
q3 = df.groupBy("year", "flow").count()
q3

+----+---------+-----+
|year|     flow|count|
+----+---------+-----+
|2011|   Import|62270|
|2006|   Import|64345|
|1994|Re-Export| 2094|
|2009|   Export|35489|
|1998|   Import|49870|
|2012|   Export|35241|
|1999|Re-Export| 4049|
|2006|   Export|36981|
|2015|Re-Import| 3005|
|2014|Re-Import| 2902|
|2007|Re-Import| 2640|
|2006|Re-Import| 2983|
|2004|Re-Import| 2419|
|2008|   Export|35026|
|1993|Re-Export| 1982|
|2011|Re-Export| 4838|
|1988|   Export| 3542|
|1993|   Import|24450|
|2016|Re-Export| 4537|
|2000|   Export|33582|
+----+---------+-----+
only showing top 20 rows

In [ ]:
# Question 4
q4 = df.groupBy("year").avg("trade_usd")
q4

+----+--------------------+
|year|      avg(trade_usd)|
+----+--------------------+
|1990|1.3192706620958874E7|
|2003| 1.421775659984178E7|
|2007|  2.58920247040825E7|
|2015|  3.18705453775215E7|
|2006| 2.309561335510047E7|
|2013| 4.000417948798862E7|
|1997|1.0552287985399866E7|
|1988|1.6750924673436042E7|
|1994|1.1536598545389062E7|
|2014|  4.07714802568802E7|
|2004| 1.528377417530457E7|
|1991|1.2069165192609925E7|
|1996| 1.199597126387271E7|
|1989|1.1040023169484511E7|
|1998|1.0251539570903756E7|
|2012|3.6993817061880395E7|
|2009|2.5688655388272807E7|
|2016|2.8671598648091204E7|
|1995|1.1727225375201566E7|
|2001|1.0226900917677911E7|
+----+--------------------+
only showing top 20 rows

In [ ]:
#Questão 5
# (Easy) The average price of commodities per unit type, year, and category in the export flow in Brazil;
q5 = df.filter(col("flow").like("Export")).filter(col("country_or_area").like("Brazil")).groupBy("year","quantity_name", "category").avg("trade_usd").orderBy(col("avg(trade_usd)").desc())
q5

+----+--------------------+--------------------+--------------------+
|year|       quantity_name|            category|      avg(trade_usd)|
+----+--------------------+--------------------+--------------------+
|2015|     Number of items|88_aircraft_space...|       3.031369794E9|
|2012| Weight in kilograms|27_mineral_fuels_...|2.8609339226666665E9|
|2001|     Number of items|88_aircraft_space...|       2.808453981E9|
|2012|     Number of items|88_aircraft_space...|       1.790261438E9|
|2016| Weight in kilograms|26_ores_slag_and_ash|        1.66218356E9|
|2016| Weight in kilograms|17_sugars_and_sug...|      1.6572273834E9|
|2015| Weight in kilograms|23_residues_waste...|     1.45606111375E9|
|2010| Weight in kilograms|27_mineral_fuels_...|1.3656568598333333E9|
|2014| Weight in kilograms|17_sugars_and_sug...| 1.356273969857143E9|
|2014| Weight in kilograms|09_coffee_tea_mat...|      1.2317656416E9|
|2010| Weight in kilograms|23_residues_waste...|       1.193381116E9|
|2010| Weight in kilograms|26_ores_slag_and_ash|    1.179427102375E9|
|2013|     Number of items|89_ships_boats_an...|1.1291718935714285E9|
|2009|Electrical energy...|27_mineral_fuels_...|       1.096087173E9|
|2009| Weight in kilograms|47_pulp_of_wood_f...|       1.024383212E9|
|2005| Weight in kilograms|47_pulp_of_wood_f...|       9.879100545E8|
|2013| Weight in kilograms|47_pulp_of_wood_f...|         9.6602781E8|
|2015| Weight in kilograms|17_sugars_and_sug...|       8.725046285E8|
|2014| Weight in kilograms|02_meat_and_edibl...| 8.612523084545455E8|
|2005| Weight in kilograms|26_ores_slag_and_ash|        8.38178207E8|
+----+--------------------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql import functions
#Questão 6
#(Medium) The maximum, minimum, and mean transaction price per unit type and year; 
q6 = df.groupBy('quantity_name','year').agg(functions.avg("trade_usd"),functions.min("trade_usd"),functions.max("trade_usd")).orderBy(col("min(trade_usd)").desc())
q6

+--------------------+----+--------------------+--------------+--------------+
|       quantity_name|year|      avg(trade_usd)|min(trade_usd)|max(trade_usd)|
+--------------------+----+--------------------+--------------+--------------+
|Electrical energy...|1992|        5.92373504E8|     592373504|     592373504|
|Electrical energy...|1993|         1.6497984E8|     164979840|     164979840|
|Electrical energy...|1997|         1.3823917E7|      13823917|      13823917|
|Electrical energy...|1995|         4.0169258E7|       8578900|      71759616|
|Electrical energy...|2003|2.3069874154545453E8|       7981734|    1323045556|
|Electrical energy...|1988|           5512366.0|       5512366|       5512366|
|Electrical energy...|2004|3.1372816435714287E8|       4654835|    2554542956|
|Electrical energy...|2016|      1.7653582575E8|       1128262|    1065282687|
|    Weight in carats|2016|          4496360.75|        116633|       9557468|
|Electrical energy...|2005|        5.33058761E8|         76645|    3983261240|
|    Weight in carats|1992| 8.654455033333333E7|         57850|     263142786|
|  Number of packages|2004|            436233.5|         57137|        815330|
|Electrical energy...|2002|      3.0743581825E8|         41605|    1774113687|
|    Weight in carats|2015|  2155988.1666666665|         28924|       9390721|
|  Number of packages|2014|   2869806.409090909|          9735|      22062840|
|Electrical energy...|2008|   2.4739115646875E8|          9395|    1327947000|
|Electrical energy...|2001|        1.53843328E8|          7193|     655549474|
|  Number of packages|2001|   4632103.833333333|          6987|      14215790|
|  Thousands of items|2014|  3547609.4615384615|          4932|      30983170|
|  Number of packages|2003|           6557848.5|          3059|      13074653|
+--------------------+----+--------------------+--------------+--------------+
only showing top 20 rows

In [ ]:
from pyspark.sql import functions as f
#Questao 7
result1 = df.filter(col("year").like("2016")).groupBy("flow","commodity").sum("quantity").withColumnRenamed('sum(quantity)','soma')

result2 = result1.groupBy("flow").max("soma").withColumnRenamed("max(soma)", "maximo")

result2.alias("a").join(result1.alias("b"), result1.soma==result2.maximo).select("a.flow","a.maximo","b.commodity")

+---------+-----------------+--------------------+
|     flow|           maximo|           commodity|
+---------+-----------------+--------------------+
|   Import|1.073469712878E12|Iron ore, concent...|
|   Export| 6.99847369665E11|Ice, snow and pot...|
|Re-Export|       1.261968E9|Safety razor blad...|
|Re-Import|      3.8774873E7|Chem wood pulp, s...|
+---------+-----------------+--------------------+